.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 85vh;
}

.title{
  margin-bottom: 20px;
}

.home_nav{
  display: flex;
  gap: 20px;
  padding: 20px;
}

.home_link{
  padding: 15px 50px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
}

.home_link:hover, .home_link:focus{
  background: #315cfd;
  color: white;
}

.shop_link{
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 700;
}

.shop_link:hover,
.shop_link:focus{
  color: white;
}

.header_cardCounter{
    align-items: center;
    background-color: #e66d67;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: .7rem;
    height: 20px;
    justify-content: center;
    position: absolute;
    right: -18px;
    top: -10px;
    width: 20px;
}


/* shopPage */
.main_shop{
  display: flex;
  min-height: 80vh;
}

.section_shop{
  width: 50%;
  border-radius: 50px;
  background: #769173;
  box-shadow: 1px 1px 1px #647b62,
    -1px -1px 1px #88a784;
}

.section_shop:not(:last-child){
    margin-right: 20px;
}

.wrapperCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.shopsName_item{
  border-radius: 50px;
  background-color: #dbf3d8;
  text-align: center;
}

.shopsName_item:not(:last-child){
  margin-bottom: 20px;
}

.shopsName_item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.shopsName_title{
  margin-bottom: 30px;
}

.shopsName_link {
  display: block;
  padding: 20px;
  min-width: 150px;
}

/* products */
.products_text{
  font-weight: 700;
  font-size: 25px;
  text-align: center;
}
.products_skeleton{
  object-fit: cover;
  background: inherit;
}

.products_title{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.products_list{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.products_item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5px;
  width: 140px;
  border: 1px solid lightcyan;
  border-radius: 5px;
  overflow: hidden;
}

.products_img{
  display: block;
  margin: 0 auto;
  object-fit: cover;
  height: 100px;
  margin-bottom: 10px;
  max-width: 100%;
}

.products_textShop{
  text-align: center;
  margin-bottom: 10px;
}

.products_counter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.products_counter_btn {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #89E5FF 0%, #5468FF 100%);
  box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 0.3em;
  color: #fff;
  text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.products_counter_btn:hover, .products_counter_btn:active {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

.products_counter_quantity{
  margin-left: 5px;
  margin-right: 5px;
}


.products_btn {
  --color: black;
  padding: 10px;
  background-color: transparent;
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.products_btn::before,
.products_btn::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 500ms ease;
}

.products_btn::before {
  top: -1em;
  left: -1em;
}

.products_btn::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.products_btn:hover::before,
.products_btn:hover::after {
  height: 410px;
  width: 410px;
}

.products_btn:hover {
  color: white;
}

.products_btn:active {
  filter: brightness(.8);
}

.footer_text{
  text-align: center;
  color: #0d1013;
  padding-top: 30px;
}


/* shopping-card */

.card_withoutProducts{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card_whenBought{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.main_shoppingCard {
  display: flex;
  min-height: 70vh;
}

.productsCard_list {
  padding: 20px;
}

.productsCard_item {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 10px;
  width: 100%;
  border: 1px solid lightcyan;
  border-radius: 5px;
  overflow: hidden;
}

.productsCard_item:not(:last-child){
  margin-bottom: 10px;
}

.productsCard_img {
  object-fit: cover;
  height: 100px;
}

.productsCard_imgWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.productsCard_textShop {
  text-align: center;
}

/* userForm */

.input {
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  background-color: rgb(69, 69, 77);
  box-shadow: 0 0 .4vw rgba(0, 0, 0, 0.5), 0 0 0 .15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.4vw;
  max-width: 250px;
  transition: .4s;
}

.input:hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.input:focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

.label{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  color: white;
}

.label:not(:last-child){
  margin-bottom: 20px;
}

.form_button {
  border-radius: 50px;
  background-color: #dbf3d8;
  text-align: center;
  padding: 15px;
  min-width: 150px;
  display: block;
  margin-left: auto;
  margin-right: 50px;
}

.form_button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.form_price{
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
}

.section_shoppingCard_scroll {
  width: 50%;
  border-radius: 50px;
  background: #769173;
  box-shadow: 1px 1px 1px #647b62,
    -1px -1px 1px #88a784;
    max-height: 75vh;
    overflow-y: scroll;
}

.section_shoppingCard:not(:last-child) {
  margin-right: 20px;
}